* {
  margin: 0;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

body{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  padding-left: 3.7rem;
}