.book__price{
  margin-top: 5px;
}

.book__rating{
  display: flex;
}

.book__info{
  height: 100px;
  
}

.add_to_mybook{
  background-color: #f0c14b;
  border: 1px solid;
  border: #a88734 #9c7e31 #846a29;
}

.btn-5 {
  cursor:pointer;
  border-radius: 25px;
  margin-top: 10px;
  background: #e8716b;
  color: #fff;
  line-height: 25px;
  width: 80px;
  padding: 0;
  border: none;
}

.btn-5:hover {
  background: transparent;
  color: #000;
   box-shadow:
   -7px -7px 20px 0px #fff9, 
    -4px -4px 5px 0px #fff9, 
    7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #80669d;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* Book Image Starts */

.book{

display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
max-height: 800px;
min-width: 100px;
margin: 10px;
padding: 20px;
width: 100%;
background-color: white;
z-index: 1;
transition: ease-in-out 0.5s;
}

.book:hover{
transform: scale(1.03);
transition: ease-in-out 0.5s;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.book:hover img:not(:hover){
filter: grayscale(0) blur(0px);
}

.book > img{
width: 100%;
max-height: 200px;
object-fit: contain;
margin-bottom: 15px;
margin-top: 20px;
transition: ease-in-out 0.5s;
filter: grayscale(0);
}

.book:hover > img {
transform: scale(1.05);
transition: ease-in-out 0.5s;
filter: grayscale(0);
}

.author__link{
  font-size: medium;
}
.link{
  color: black;
  text-decoration: none;
}
.link:hover {
  color: #e8716b;
  
}

/* Book Image Ends */

/* Splash Add Button CSS Starts */
/* 
.add-btn1{

  margin-top: 10px;
  line-height: 25px;
  width: 80px;
  padding: 0;
  border: none;

  position: relative;
  background: #e8716b;
  border-radius: 25px;
  
  color: white;
  cursor:pointer;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.4s;
}

.add-btn1:hover {
  background: transparent;
  color: #000;
   box-shadow:
   -7px -7px 20px 0px #fff9, 
    -4px -4px 5px 0px #fff9, 
    7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;

  transition-duration: 0.1s;
}

.add-btn1:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  box-shadow: 0 0 10px 40px rgb(100, 26, 26);
}

.add-btn1:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
}

.add-btn1:active {
  top: 1px;
} */

/* Splash Add Button CSS Ends */



/* OLD add to MyBooks Starts */
/* 
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 120px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: red;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: red;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
} */


/* OLD Add to MyBooks Ends */
#wrap {
  margin: 5px;
  text-align: center;
}

.btn-slide, .btn-slide2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 200px;
  line-height: 50px;
  padding: 0;
  border-radius: 50px;
  background: #fdfdfd;
  border: 2px solid #0099cc;
  margin: 10px;
  transition: .5s;
}

.btn-slide2 {
  border: 2px solid #efa666;
}

.btn-slide:hover {
  background-color: #0099cc;
}

.btn-slide2:hover {
  background-color: #efa666;
}

.btn-slide:hover span.circle, .btn-slide2:hover span.circle2 {
  left: 100%;
  margin-left: -45px;
  background-color: #fdfdfd;
  color: #0099cc;
}

.btn-slide2:hover span.circle2 {
  color: #efa666;
}

.btn-slide:hover span.title, .btn-slide2:hover span.title2 {
  left: 40px;
  opacity: 0;
}

.btn-slide:hover span.title-hover, .btn-slide2:hover span.title-hover2 {
  opacity: 1;
  left: 40px;
}

.btn-slide span.circle, .btn-slide2 span.circle2 {
  display: block;
  background-color: #0099cc;
  color: #fff;
  position: absolute;
  float: left;
  margin: 3.5px;
  line-height: 42px;
  height: 40px;
  width: 40px;
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 50%;
}

.btn-slide2 span.circle2 {
  background-color: #efa666;
}

.btn-slide span.title,
.btn-slide span.title-hover, .btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  position: absolute;
  left: 90px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: bold;
  color: #30abd5;
  transition: .5s;
}

.btn-slide2 span.title2,
.btn-slide2 span.title-hover2 {
  color: #efa666;
  left: 80px;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  left: 80px;
  opacity: 0;
}

.btn-slide span.title-hover, .btn-slide2 span.title-hover2 {
  color: #fff;
}