.checkoutbook{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutbook__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutbook__info{
    padding-left: 20px;
}

.download__book{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutbook__remove{
    display: flex;
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutbook__rating{
    display: flex;
}

.checkoutbook__title{
    font-size: 17px;
    font-weight: 800;
}

/* Download Button Start */

.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
  
	background-color: #4CC713;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

.buttonDownload {
    -webkit-tap-highlight-color: transparent;
}

.buttonDownload {
    margin: 10px 5px 5px 0px;
    width: 140px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #68a42b;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: #39e01c;
}

.buttonDownload, .buttonDownload span {
    transition: 200ms;
}

.buttonDownload .text {
    font-style: none;
    text-decoration: underline #39e01c;
    transform: translateX(-17px);
    color: white;
    font-weight: bold;
}

.buttonDownload .icon {
    position: absolute;
    border-left: 1px solid #258045;
    transform: translateX(82px);
    height: 30px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonDownload svg {
    width: 15px;
    fill: #eee;
}


.buttonDownload:hover {
    background: #84e423;
}

.buttonDownload:hover .text {
    color: transparent;
    text-decoration: underline #84e423;
}

.buttonDownload:hover .icon {
    width: 95px;
    border-left: none;
    transform: translateX(0);
}

.buttonDownload:focus {
    outline: none;
}

/*Download Button Ends*/


/*delete item button starts*/

.noselect {
		-webkit-tap-highlight-color: transparent;
}

.noselect {
    margin: 10px 5px 5px 0px;
	width: 130px;
	height: 30px;
	cursor: pointer;
	display: flex;
	align-items: center;
	background: red;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background: #e62222;
}

.noselect, .noselect span {
	transition: 200ms;
}

.noselect .text {
	transform: translateX(35px);
	color: white;
	font-weight: bold;
}

.noselect .icon {
	position: absolute;
	border-left: 1px solid #c41b1b;
	transform: translateX(90px);
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.noselect svg {
	width: 15px;
	fill: #eee;
}

.noselect:hover {
	background: #ff3636;
}

.noselect:hover .text {
	color: transparent;
}

.noselect:hover .icon {
	width: 120px;
	border-left: none;
	transform: translateX(0);
}

.noselect:focus {
	outline: none;
}

/*Delete Item Button ends*/