
.faq-container {
    margin: 0 auto;
    padding: 20px;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    background: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    /* box-shadow: 2px 2px 5px #ccc; */
    margin: 10px auto;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
   
  }
  
  .faq-title {
    text-align:center;
    margin-bottom: 30px;
  }
  
  .faq-question {
    margin-bottom: 20px;
  }
  
  .question-title {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 200px;
  }
  
  .question-answer {
    font-size: 14px;
    margin-left: 200px;
  }
  