.header {
    /* background-color: #FFB4A2; */
    background-color: rgb(126, 231, 255);
    display: flex;
    align-items: center;
    position: Sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 80px;
    object-fit: contain;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#header__search {
    display: flex;
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    background-color: #FFF;
}

#header_search {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid #dcdcdc;
}

#header_search:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

#header_search:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.header__searchInput {
    height: 30px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    background-color: #1DF289;
    height: 30px !important;
    width: auto;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: #195163;
    text-decoration: none;
}

.header__option {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionBookmark {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.userimg {
    position: relative;
    right: 10px;
    top: -4px;
    max-width: 50px;
    max-height: 50px;
}

.header__Bookcount {
    margin-top: 20px;
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background: #3a56a3;
    position: relative;
    border-radius: 100px;
    font: 6px;
    color: #FFF;
    top: -15px;
    right: 30px;
    z-index: 1;

    transition: ease-in-out 0.5s;
    transform: rotate(0deg);
}

.header__Bookcount:hover {
    transition: ease-in-out 0.5s;
    transform: rotate(-360deg);
    z-index: 1;
}

#userName {
    white-space: nowrap;
    position: relative;
    top: 40px;
    right: 10px;
    text-decoration: none;
    margin-top: 20px;
}


#imgDiv:hover img {
    position: relative;
    top: 0px;
    right: -40px;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    transform: rotateY(180deg);
    filter: brightness(0%);
    transition: ease-in-out 0.5s;
    z-index: 0;
}

#greetImg {
    font-size: 17px;
    position: relative;
    top: -35px;
    right: -50px;
    color: #1DF289;
    transition: ease-in-out 0.5s;
    z-index: -1;
}

#imgDiv:hover #greetImg {
    font-size: 17px;
    position: relative;
    top: -35px;
    right: -50px;
    color: #1DF289;
    visibility: visible;

    z-index: 2;
    transition: ease-in-out 0.5s;

}

#imgDiv img {
    position: relative;
    top: 0px;
    right: -40px;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    margin-top: 20px;

    transition: ease-in-out 0.5s;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
}

.nav-links:hover {
    /* background-color: #1888ff; */
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.searchPlaceholder {
    color: rgb(172, 172, 172);
    position: relative;
    top: 4px;
    right: 700px;
    white-space: nowrap;
}

.Voicebtn {
    position: relative;
    right: -200px;
}

#searchBar {
    /* border: none;
    padding: 10px 10px;
    background: none;
    border-bottom: 2px solid rgb(252, 252, 252);
    border-top: 2px dotted rgba(255, 255, 255, 0);
    border-bottom-width: 2px;
    outline: none;
    transition: ease-in-out 1s; */
    margin-left: 20px;
    height: 45px;
    border: none;
    width: 500px;
    font-size: 16px;
    outline: none;
}


.header__result-words {
    margin: auto;
}

.header__result-words p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 4px;
}

.header__result-words ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__result-words li {
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
}

#cameraIcon {
    margin-bottom: -16px;
    margin-right: 20px;
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    right: -40px;
}

.processLable {
    position: relative;
    top: 42px;
    right: -95px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#cameraIconLoading {
    margin-top: 10px;
    margin-right: 15px;
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    right: -40px;
    animation: spin 1s infinite;
}

button.audioIcon {
    margin-right: 50px;
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    right: -40px;
  }
  
  button.audioIcon:focus {
    outline: none;
  }
