.header {
    /* background-color: #FFB4A2; */
    background-color: rgb(126, 231, 255);
    display: flex;
    align-items: center;
    position: Sticky;
    top: 0;
    z-index: 100;
}

.header__logo {
    width: 80px;
    object-fit: contain;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.header__search {
    display: flex;
    flex: 1;
}

.header__searchInput {
    height: 30px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    background-color: #1DF289;
    height: 30px !important;
    width: auto;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.button {
    --c: #195163;
    /* the color */

    color: #0000;
    background:
        linear-gradient(90deg, #fff 50%, var(--c) 0) calc(100% - var(--_p, 0%)) / 200%,
        linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) no-repeat,
        var(--_c, #0000);
    -webkit-background-clip: text, padding-box, padding-box;
    background-clip: text, padding-box, padding-box;
    transition: 0s, color .5s, background-color .5s;
}

.button:hover {
    color: #fff;
    --_c: var(--c);
    --_p: 100%;
    transition: 0.5s, color 0s .5s, background-color 0s .5s;
}

.header__link {
    color: #195163;
    text-decoration: none;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionBookmark {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.userimg{
    position: relative;
    right: 10px;
    top: -4px;
    max-width: 50px;
    max-height: 50px;
}

.header__Bookcount {
    display: inline-block;
    padding: 4px 10px 4px 10px;
    background: #3a56a3;
    position: relative;
    border-radius: 100px;
    font: 6px;
    color: #FFF;
    top: -15px;
    right: 30px;
    z-index: 1;

    transition: ease-in-out 0.5s;
    transform: rotate(0deg);
}

.header__Bookcount:hover {
    transition: ease-in-out 0.5s;
    transform: rotate(-360deg);
    z-index: 1;
}
