.login{
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}

.login__container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}

.login__logo{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 160px;
    object-fit: contain;
}

.login__container > form > h5{
    margin-bottom: 5px;
}

.login__container > form > input{
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
}

.login__container > p{
    margin-top: 15px;
    font-size: 12px;
}

.login__signInButton{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color:#9c7e31 #846a29 #a88734 ;
}

.login__RegisterButton{
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
}

#EmailBox{
    position: relative;
}

#PassBox{
    position: relative;
}

#EmailBox input
{
    position: relative;
    align-items: center;
    display: inline-flex;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    background: white;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;
}

#PassBox input
{
    align-items: center;
    display: inline-flex;
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.25) !important;
    background: white;
    border-radius: 5px;
    outline: none;
    color: black;
    font-size: 1em;

    position: relative;
    margin-top: 13px;
}

#EmailBox input:valid ~ span,
#EmailBox input:focus ~ span,
#PassBox input:valid ~ span,
#PassBox input:focus ~ span
{
    color: #f0c14b;
    top: -52px;
    right: -10px;
    /* transform: translateX(15px) translateY(20px);  */
    font-size: 0.90em;
    padding: 0 15px;
    background: white;
    border-left: 1px solid #f0c14b;
    border-right: 1px solid #f0c14b;
}

#EmailBox input:invalid ~ span,
#PassBox input:invalid ~ span
{
    top: -52px;
    right: -10px;
    font-size: 0.90em;
    padding: 0 15px;
    background: white;
    color: #f04b4b;
    border-left: 1px solid #f04b4b;
    border-right: 1px solid #f04b4b;
}

.Google-btn{
    margin: 5px;
}

#EmailBox span
{
    top: -36px;
    right: 0px;
    /* top: auto; */
    position: relative;
    padding: 1px;
    padding-left: 15px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.25);
    font-size: 20px;
    transition: ease-in-out 0.3s;
}

#PassBox span
{
    top: -36px;
    right: 0px;
    /* top: auto; */
    position: relative;
    padding: 1px;
    padding-left: 15px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.25);
    font-size: 20px;
    transition: ease-in-out 0.3s;
}

#EmailTick{
    position: relative;
    width: 0px;
    top: -29px;
    right: -160px;

    transition: ease-in-out 0.3s;
}

#EmailBox input:valid ~ #EmailTick{
    position: relative;
    width: 20px;
    top: -30px;
    right: -160px;

    transition: ease-in-out 0.3s;
}

#PassTick{
    position: relative;
    width: 0px;
    top: -30px;
    right: -110px;

    transition: ease-in-out 0.3s;
}

#PassBox input:valid ~ #PassTick{
    position: relative;
    width: 20px;
    top: -30px;
    right: -110px;

    transition: ease-in-out 0.3s;
}

/* #PassBox input:valid ~ span,
#PassBox input:focus ~ span
{
    top: -51px;
    right: -10px;
    color: black;
    //transform: translateX(10px) translateY(6px);
    font-size: 0.90em;
    padding: 0 15px;
    background: #f0c14b;
    border-left: 1px solid #f0c14b;
    border-right: 1px solid #f0c14b;

}  */